<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login.html</title>
    <style>
        #validate_code{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <form action="{% url "user:login_handler" %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>用户名</td>
                <td><input name="user_name" value="{{ remember_user_name }}"/></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input name="user_pwd" type="password"/></td>
            </tr>
            <tr>
                <td>验证码</td>
                <td><input name="validate_code"/></td>
                <td><img id="validate_code_img" src="{% url 'user:validate_code' %}"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="checkbox" name="remember" value="1" checked="checked"/>记住用户名</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit"/></td>
            </tr>
        </table>
    </form>
</body>
</html>
<script>
    var validate_code_img = document.getElementById("validate_code_img")
    var url = "/user/validate_code?num="
    validate_code_img.onclick = function () {
        var num = new Date().getTime()
        url+=num
        validate_code_img.src = url
    }
</script>