<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>

        function func1() {
            //获取XMLHTTPRequest对象
            var xmlhttp;
            if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
            }
            else {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            //注册监听事件
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    msg.innerHTML = "success"
                    console.info(xmlhttp.responseText)
                }
                /*
                 console.info("xmlhttp.readyState=" + xmlhttp.readyState + ",xmlhttp.status=" + xmlhttp.status)
                 if (xmlhttp.readyState==1){
                 msg.innerHTML = "loading..."
                 }else  if(xmlhttp.readyState==4){
                 if (xmlhttp.status == 200){
                 msg.innerHTML = "success"
                 }else if (xmlhttp.status == 500){
                 msg.innerHTML = "fail 500"
                 }else if (xmlhttp.status == 404){
                 msg.innerHTML = "fail 404"
                 }
                 }
                 */
            }
            /*
            //open
            xmlhttp.open("get", "/test?a=1&b=2")
            //send
            xmlhttp.send()
            */

            //open
            xmlhttp.open("post", "/test")
            //send
            xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            xmlhttp.send("a=1&b=2&csrfmiddlewaretoken="+csrf.value)
        }


        var btn1
        var msg
        var csrf
        window.onload = function () {
            btn1 = document.getElementById("btn1")
            msg = document.getElementById("msg")
            csrf = document.getElementsByName("csrfmiddlewaretoken")[0]
            btn1.onclick = func1
        }
    </script>
</head>
<body>
<input type="button" value="btn1" id="btn1"/>
<div id="msg"></div>
{% csrf_token %}
</body>
</html>
